
body {
    background-color: black;
}

.content>div {
    padding: 20px;
    background-color: #222;
    color: white;
}

.pfp {
    background-position: center !important;
    background-size: cover !important;
    border-radius: 50%;
    width: 100%;
    max-width: 140px;
}

.pfp:after {
    content: "";
    display: block;
    padding-bottom: 100%;  
}

.user_info {
/*    float: right;*/
    color: white;
/*    margin-right: 80px;*/
    margin-top: 20px;
    width: 100%;
}

.user_info td {
    min-width: 110px;
    border-bottom: 1px dashed grey;
    padding-top: 5px;
}

.user_info td:first-child {
    text-align: left;
    color: #CCC;
}

.user_info td:last-child {
    text-align: right;
}

.clickable {
    cursor: pointer;
}

.game {
    width: 70%;
    margin: 30px auto;
    display: block;
    transition: transform 0.3s;
}

.game:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.info_panel {
    margin: 40px 0px;
    text-align: center;
}

.leaderboard th, td {
    color: white;
    border-bottom: 1px solid #777;
}
