
body {
    background-color: black;
    color: white;
}

.question {
    background-color: #222;
}

.question h1 {
    margin: 20px;
    margin-bottom: 40px;
}

.question button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    width: 100%;
    margin-bottom: 20px;
}
