
body {
    background-color: black;
    color: white;
}

.question {
    background-color: #222;
}

.question h1 {
    margin: 20px;
    margin-bottom: 40px;
}

.question #answers button {
    background-color: #BBB;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    width: 100%;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.info {
    background-color: #222;
    margin-bottom: 30px;
}

.alert {
    display: none;
    text-align: center;
}

.q_points {
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.next {
    display: none;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

    width: auto;
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 20px;
}

.players {
    margin: 15px 0px;
    table-layout: fixed;
    width: 100%;
}

.pfp>div {
    background-position: center !important;
    background-size: cover !important;
    border-radius: 50%;
    width: 75%;
    max-width: 140px;
    margin: 0px auto;
}

.pfp>div:after {
    content: "";
    display: block;
    padding-bottom: 100%;  
}

.pfp h3 {
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .pfp h3 {
        display: none;
    }
}

/*
.info div:last-child {
    text-align: right;
}
*/
